.main-content {
	width: 100%;
	padding: $size--grid__tile;
	justify-self: flex-start;
	grid-area: main;
	@media screen and (min-width: 50rem) {
		//max-width: $size--grid__tile * 18;
		border-left: 2px solid rgba($black,0.05);
		padding-top: $size--grid__tile * 2;
		padding-left: $size--grid__tile * 2;
	}
	@media screen and (min-width: 70rem) {
		padding-left: $size--grid__tile * 3;
		//max-width: $size--grid__tile * 30;
		width: $size--grid__tile * 20;
	}
	@media screen and (min-width: 85rem) {
		padding-left: $size--grid__tile * 4;
		width: $size--grid__tile * 22;
	}
}
