.sidebar {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $light-red-one;
  padding: $size--grid__tile * 2;
  z-index: 5;
  nav {
    font-family: $font--serif;

    ul {
      list-style: none;
      line-height: 2;
      margin: 0;
      padding: 0;

      li {
        a {
          color: rgba($black, 0.6);
          font-size: 2rem;
          text-decoration: none;
        }

        ul {
          padding: 0 1rem;
        }

        &.active {
          a {
            color: $light-red-one;
          }
        }
        &:hover {
          a {
            color: rgba($black, 1);
          }
        }
      }
    }
  }
}
@media screen and (min-width: $tablet-breakpoint) {
  .sidebar {
    grid-area: sidebar;
    position: initial;
    display: block !important; // fix in JS: only add display none toggle < 40em
    width: auto;
    height: initial;
    background-color: $light-gray-one;
    padding: $size--grid__tile;

    nav {
      font-family: $font--sans;

      ul {
        li {
          a {
            font-size: 1rem;
          }
        }
      }
    }
  }
}
