.page-home--content__results {
	display: grid;
	grid-auto-flow: column;
	grid-template-rows: repeat(6, $size--grid__tile * 4);
	grid-row-gap: $size--grid__tile;
	height: 100%;
	grid-template-columns: 1fr; // = width of 60rem

	.result--object {
		margin: 0;

		&:nth-child(1n + 0) {
			//grid-area: first;
			background-color: rgba($black, 0.1);
		}

		&:nth-child(2n + 0) {
			//grid-area: second;
			background-color: rgba($black, 0.2);
		}

		&:nth-child(3n + 0) {
			// grid-area: third;
			background-color: rgba($black, 0.3);
		}
	}

	@media screen and (min-width: 30rem) {
		grid-auto-flow: row dense;
		grid-template-columns: repeat(2, 1fr); // = width of 60rem
		grid-template-rows: repeat(3, 1fr);
		grid-gap: $size--grid__tile;
	}
	@media screen and (min-width: 35rem) {
		height: $size--width-total__grid--objects * $aspect-ratio--object * 2.5;
	}
	@media screen and (min-width: 52rem) {
		$increment-ratio: 1.25;

		height: ($size--width-total__grid--objects * $aspect-ratio--object) * $increment-ratio * 2;

	}
	@media screen and (min-width: 70rem) {
		$increment-ratio: 2;

		height: ($size--width-total__grid--objects * $aspect-ratio--object) * $increment-ratio;
		grid-template-columns: repeat(3, 1fr); // = width of 60rem
		grid-template-rows: repeat(2, 1fr);

	}
	// @media screen and (min-width: 90rem) {
	// 	$increment-ratio: 2;
	// 	height: ($size--width-total__grid--objects * $aspect-ratio--object) * $increment-ratio;
	//
	// }

}
