@font-face {
  font-family: 'GTWalsheimLight';
  src: url('../assets/fonts/GTWalsheimLight.eot'),
			 url('../assets/fonts/GTWalsheimLight.eot?#iefix') format('embedded-opentype'),
			 url('../assets/fonts/GTWalsheimLight.woff') format('woff'),
       url('../assets/fonts/GTWalsheimLight.ttf') format('truetype'),
       url('../assets/fonts/GTWalsheimLight.svg#GTWalsheimLight') format('svg');
  font-weight: lighter;
  font-style: lighter;
}


@font-face {
  font-family: 'Perpetua-Bold';
  src: url('../assets/fonts/Perpetua-Bold.eot'),
			 url('../assets/fonts/Perpetua-Bold.eot?#iefix') format('embedded-opentype'),
			 url('../assets/fonts/Perpetua-Bold.woff') format('woff'),
       url('../assets/fonts/Perpetua-Bold.ttf') format('truetype'),
       url('../assets/fonts/Perpetua-Bold.svg#Perpetua-Bold') format('svg'),
       url('../assets/fonts/Perpetua-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: bold;
  font-style: bold;
}


// Custom Adjustments

body {
  text-rendering: geometricPrecision;
	font-family: $font--sans;
  h1 {
    font-variant-ligatures: discretionary-ligatures;
    font-feature-settings: "dlig";
    font-family: $font--serif;
  }
 h2, h3, h4, h5, h6, p {
    font-family: $font--sans;
    font-weight: 400;
  }
  p {
   color: $dark-gray-one;
   @include line-height(1);
   @include margin-bottom(1);
   @include margin-top(0);
   text-align: justify;
   hyphens: auto;
  }
  h1:first-child {
    @include margin-top(0);
  }
  h3 {
    font-weight: 600;
 }
	li {
		@include margin-bottom(0.5);
	}
}
