.c-gallery--grid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-gap: $size--grid__tile;

  .c-gallery--grid--object {
    height: calc((100vw - (#{$size--grid__tile} * 2)) / #{$aspect-ratio--object});
    width: 100%;
    margin: 0;
    background: $white;
    box-shadow: 0 ($size--grid__tile / 4) ($size--grid__tile / 2) 0 rgba($black, 0.20);
    border-radius: 5px;
    background-image: linear-gradient(-180deg, rgba($black,0.50) 0%, transparent 15%, transparent 65%, $black 100%);

  }
  @media screen and (min-width: 30rem) {
    grid-template-columns: 1fr 1fr;

    .c-gallery--grid--object {
      height: calc(((100vw / 2) - (#{$size--grid__tile} * 2)) / #{$aspect-ratio--object});
    }
  }
  @media screen and (min-width: 48rem) {
    .c-gallery--grid--object {
      height: calc(((100vw / 2) - (#{$size--grid__tile} * 4)) / #{$aspect-ratio--object});
    }
  }
  @media screen and (min-width: 52rem) {
    grid-template-columns: 1fr 1fr 1fr;

    .c-gallery--grid--object {
      height: calc(((100vw / 3) - (#{$size--grid__tile} * 3)) / #{$aspect-ratio--object});
      max-height: 333.33px;
    }
  }
}
