.toggle--menu {
	position: fixed;
	right: $size--grid__tile / 2;
	bottom: $size--grid__tile / 2;
	width: $size--grid__tile;
	height: $size--grid__tile;
	background-color: $black;
	color: $white;
	z-index: 2;
	display: block;
	text-align: center;

	p {
		padding-top: 0.25rem;
		font-size: 0.75rem;
	}

	&.active {
		background-color: $white;
		color: $black;
	}
	@media screen and (min-width: 52rem) {

			display: none;
		
	}

}
