<div class="c-news--grid">
  {% for post in posts %}
  <div class="c-news--grid--object">
    <p class="object--date">{{ post.published_at|date('M d, Y') }}</p>
    <h3 class="object--title">{{ post.title }}</h3>
    <a class="object--button o-button o-button--medium o-button--medium__outline-color" href="{{ post.url }}">
      Lees meer
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 14">
        <g fill="none" fill-rule="evenodd" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M1.48 7h14.4042l-5.6375 5.8707M1.48 6.8707h14.4042L10.2467 1"/>
        </g>
      </svg>
     </span>
    </a>
  </div>
  {% else %}
  <p class="no-data">{{ noPostsMessage }}</p>
  {% endfor %}
</div>



{% if posts.lastPage > 1 %}
<ul class="pagination">
  {% if posts.currentPage > 1 %}
  <li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage-1) }) }}">&larr; Prev</a></li>
  {% endif %} {% for page in 1..posts.lastPage %}
  <li class="{{ posts.currentPage == page ? 'active' : null }}">
    <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
  </li>
  {% endfor %} {% if posts.lastPage > posts.currentPage %}
  <li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage+1) }) }}">Next &rarr;</a></li>
  {% endif %}
</ul>
{% endif %}
