<nav>
  <ul>
    <li class="{% if this.page.id == 'home' %}active{% endif %}"><a href="{{ 'home'|page }}">Homepagina</a></li>
    <li class="{% if this.page.id == 'verzameling' %}active{% endif %}"><a href="{{ 'verzameling'|page }}">Verzameling</a></li>
    <li class="{% if this.page.id == 'nieuws' %}active{% endif %}"><a href="{{ 'nieuws'|page }}">Nieuws</a></li>
    <li class="{% if this.page.id == 'informatie' %}active{% endif %}"><a href="{{ 'informatie'|page }}">Informatie</a>
      <ul>
        <li class="{% if this.page.id == 'contact' %}active{% endif %}"><a href="{{ 'contact'|page }}">Contact</a></li>
      </ul>
    </li>
  </ul>
</nav>
